#news {
  width: 100%;
}

.listview-left {
  overflow: hidden;
  float: left;
  border-right: 1px solid #dfdfdf;
}

.post-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
  height: 250px;
}

.post-item.active,
.post-item:hover,
.gridview .post-item.active,
.gridview .post-item:hover {
  border-top: 1px solid #3a65f9;
  border-bottom: 1px solid #3a65f9;
  background: #efefef;
  box-sizing: border-box;
}

.item-thumbnail {
  width: 250px;
  height: 216px;
  float: left;
  position: relative;
}

.item-thumbnail .type {
  position: absolute;
  top: 13px;
  left: 0;
  width: 82px;
  height: 24px;
  line-height: 24px;
  font-size: 10px;
  padding-right: 10px;
  color: #fff;
  text-align: center;
}

.item-info {
  float: left;
  margin: 0 0 0 20px;
}

.item-info h3 {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.item-info .subtitle {
  margin: 0;
  color: #aaaaaa;
  font-size: 12px;
}

.item-info .price {
  margin: 8px auto;
}

.item-info .location {
  color: #888888;
  margin: 10px auto;
}

.property {
  background: #f9f9f9;
  padding: 12px 0px;
}

.property span {
  margin: 15px;
}

.compact,
.bedroom,
.bathroom,
.garage,
.compass,
.floor {
  padding-left: 28px;
  height: 20px;
  line-height: 20px;
}

.button-group {
  border-top: 1px solid #f6f6f6;
  text-align: right;
  box-sizing: border-box;
}

.button-group span {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 8px;
  margin-top: 7px;
}

.button-group .favorite {
  border: 1px solid #fe475e;
}

.button-group .favorite a {
  color: #fe475e;
}

.button-group .favorite:hover {
  background-color: #fe475e;
}

.button-group .favorite:hover a {
  color: #fff;
}

.button-group .contact {
  border: 1px solid #3a65f9;
}

.button-group .contact a {
  color: #3a65f9;
  text-decoration: none;
}

.button-group .contact:hover {
  background-color: #3a65f9;
}

.button-group .contact:hover a {
  color: #fff;
}

.button-group .contact-distance {
  margin-left: 5px;
}

.button-group .post-date {
  display: block;
  width: 80px;
  float: left;
  color: #3a65f9;
  margin-top: 20px;
  text-align: left;
}

item-info {
  min-width: 255px;
}
