@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0px;
  font-family: Helvetica Neue;
  font-weight: 300;
  font-size: 14px;
  color: #454545;
  background-size: 100% 680px;
}

.container {
  width: 1140px;
  max-width: 100% !important;
  margin-right: auto;
  margin-left: auto;
}

#home-content {
  border: none;
}

.compact {
  background: url('../static/images/icon/ic_view_compact.png') no-repeat 0;
}

.compass {
  background: url('../static/images/icon/compass.png') no-repeat 0;
}

.bedroom {
  background: url('../static/images/icon/ic_hotel.png') no-repeat 0;
}

.bathroom {
  background: url('../static/images/icon/bathtub.png') no-repeat 0;
}

.garage {
  background: url('../static/images/icon/ic_directions_car.png') no-repeat 0;
}
