.ant-select,
.ant-input,
.ant-radio,
.ant-radio-wrapper,
.ant-radio-group,
.ant-card,
.ant-steps,
.ant-form-item {
  font-family: 'Helvetica Neue' !important;
  font-size: 16px !important;
}

.ant-input::-webkit-input-placeholder,
.ant-select-search__field__placeholder,
.ant-select-selection__placeholder {
  color: #454545 !important;
}

.ant-input::-moz-placeholder {
  color: #454545 !important;
}

.ant-card {
  font-size: 14px !important;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000014;
  min-height: 400px;
  margin-bottom: 60px !important;
}

.ant-card .ant-card-head {
  background: #63c9ff !important;
}

.ant-card .ant-card-head .ant-card-head-title {
  color: #ffffff !important;
}

.ant-tabs .ant-tabs-content {
  min-height: 300px;
}

label {
  font-weight: 300 !important;
  font-size: 14px;
}

.steps-content .ant-input::-webkit-input-placeholder {
  color: #9a9a9a !important;
  font-size: 14px !important;
}

.ant-input-group-addon,
.ant-input-group-wrap {
  width: 130px !important;
  font-size: 14px !important;
}

.steps-content .ant-checkbox-wrapper,
.steps-content .ant-cascader-picker {
  font-family: 'Helvetica Neue' !important;
  font-size: 14px !important;
}

.steps-action {
  text-align: center;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector .sale {
  background-image: url('../static/images/icon/ic_sale.png');
}

.cc-selector .rent {
  background-image: url('../static/images/icon/ic_rent.png');
}

.cc-selector .aparment {
  background-image: url('../static/images/icon/icon_chungcu.svg');
}

.cc-selector .home {
  background-image: url('../static/images/icon/icon_nharieng.svg');
}

.cc-selector .home-villa {
  background-image: url('../static/images/icon/icon_bietthu.svg');
}

.cc-selector .home-street-side {
  background-image: url('../static/images/icon/icon_nhamatpho.svg');
}

.cc-selector .land-scape {
  background-image: url('../static/images/icon/icon_datthocu.svg');
}

.cc-selector .land-of-project {
  background-image: url('../static/images/icon/icon_datduan.svg');
}

.cc-selector .land-farm {
  background-image: url('../static/images/icon/icon_datnongnghiep.svg');
}

.cc-selector .land-resort {
  background-image: url('../static/images/icon/icon_resort.svg');
}

.cc-selector .office {
  background-image: url('../static/images/icon/icon_vanphong.svg');
}

.cc-selector .warehouses {
  background-image: url('../static/images/icon/icon_nhaxuong.svg');
}

.cc-selector .kiosks {
  background-image: url('../static/images/icon/icon_cuahang.svg');
}

.cc-selector .motel-room {
  background-image: url('../static/images/icon/icon_phongtro.svg');
}

.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}

.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.cc-selector .image-block {
  /*display: inline-block;*/
}

.cc-selector .image-block .image-item {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  /*padding: 25px 15px;*/
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .image-big-item {
  width: 140px;
  height: 140px;
  margin: 10px auto;
  padding: 25px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-big-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: 68px 68px !important;
  background-position: center center;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.cc-selector .image-block .drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.cc-selector .image-block p {
  text-align: center;
}

.cc-selector .image-block p:hover {
  color: #4a8dff;
}

.image-gallery-content .image-gallery-swipe .image-gallery-slides .image-gallery-slide .image-gallery-image img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 568px !important;
  height: 376px;
}

.image-gallery-content .image-gallery-slide-wrapper .image-gallery-slides .image-gallery-slide .image-gallery-image img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 568px !important;
  height: 376px;
}

.image-gallery-content .image-gallery-thumbnails-wrapper .image-gallery-thumbnails .image-gallery-thumbnails-container img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 67px;
}

.app-editor .ql-editor {
  min-height: 200px;
}

.content-editor .ql-editor {
  min-height: 500px;
}

.location .nearby div {
  width: 520px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.location .nearby div h3 .title {
  color: #3a65f9;
}

.location .nearby div h3 span {
  float: right;
  font-weight: 300 !important;
  color: #aaaaaa;
}

.location .nearby {
  overflow-y: scroll;
  height: 320px;
}

.product-info .location p {
  min-height: 42px;
  max-height: 42px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .cc-selector .image-block .image-big-item {
    width: 100px;
    height: 100px;
    padding: 0;
  }
  .cc-selector.step-1 .image-block p {
    width: 100px;
    height: 40px;
    margin: 0 auto;
  }
  .cc-selector .image-block .image-item {
    width: 70px;
    height: 70px;
  }
  .cc-selector .image-block .image-item .drinkcard-cc {
    width: 70px;
    height: 70px;
    background-size: 60px 60px !important;
  }
  .cc-selector.step-2 .image-block p {
    width: 70px;
    height: 40px;
    margin: 0 auto;
  }
}
