.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.ant-card {
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000014;
  min-height: 400px;
  margin-bottom: 60px !important;
}

.ant-card .ant-card-head {
  background: #63c9ff !important;
}

.ant-card .ant-card-head .ant-card-head-title {
  color: #ffffff !important;
}

.ant-tabs .ant-tabs-content {
  min-height: 300px;
}

.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cc-selector .sale {
  background-image: url('../static/images/icon/ic_sale.png');
}

.cc-selector .rent {
  background-image: url('../static/images/icon/ic_rent.png');
}

.cc-selector .aparment {
  background-image: url('../static/images/icon/aparment.png');
}

.cc-selector .home {
  background-image: url('../static/images/icon/house.png');
}

.cc-selector .home-villa {
  background-image: url('../static/images/icon/house.png');
}

.cc-selector .home-street-side {
  background-image: url('../static/images/icon/house.png');
}

.cc-selector .land-scape {
  background-image: url('../static/images/icon/house-plan-scale.png');
}

.cc-selector .land-of-project {
  background-image: url('../static/images/icon/house-sketch.png');
}

.cc-selector .land-farm {
  background-image: url('../static/images/icon/house-sketch.png');
}

.cc-selector .land-resort {
  background-image: url('../static/images/icon/hotel.png');
}

.cc-selector .office {
  background-image: url('../static/images/icon/hotel.png');
}

.cc-selector .warehouses {
  background-image: url('../static/images/icon/warehouse.png');
}

.cc-selector .kiosks {
  background-image: url('../static/images/icon/shop.png');
}

.cc-selector .motel-room {
  background-image: url('../static/images/icon/hotel.png');
}

.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}

.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.cc-selector .image-block {
  display: inline-block;
}

.cc-selector .image-block .image-item {
  width: 100px;
  height: 100px;
  margin: 10px 5px;
  padding: 25px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .image-big-item {
  width: 140px;
  height: 140px;
  margin: 10px 5px;
  padding: 25px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

.cc-selector .image-block .image-big-item:hover {
  border: 1px solid #4a8dff;
}

.cc-selector .image-block .drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 146px;
  height: 146px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.cc-selector .image-block .drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.cc-selector .image-block p {
  text-align: center;
}

.cc-selector .image-block p:hover {
  color: #4a8dff;
}

.image-gallery-content .image-gallery-swipe .image-gallery-slides .image-gallery-slide .image-gallery-image img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 568px !important;
  height: 376px;
}

.image-gallery-content .image-gallery-slide-wrapper .image-gallery-slides .image-gallery-slide .image-gallery-image img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 568px !important;
  height: 376px;
}

.image-gallery-content .image-gallery-thumbnails-wrapper .image-gallery-thumbnails .image-gallery-thumbnails-container img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 67px;
}
