.lastest-posts {
  margin-top: 10px;
  overflow: hidden;
}

.lastest-posts h2 {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.lastest-posts h2 {
  font-size: 30px;
  font-weight: normal;
  color: #454545;
}

.lastest-posts h2 .toolbox select {
  height: 40px;
  border-color: #EBEBEB;
  color: #888888;
  font-size: 14px;
  display: inline-block;
  margin-right: 50px;
}

.lastest-posts h2 span {
  color: #888;
  font-size: 16px;
  font-weight: lighter;
  padding-left: 15px;
  margin-left: 15px;
  border-left: 1px solid #AAAAAA;
}

.lastest-posts h2 .toolbox {
  position: absolute;
  right: 0px;
  top: -2px;
}

.lastest-posts h2 .toolbox label {
  font-size: 14px;
  font-weight: 300;
}

.listview-button.active {
  margin-right: 5px;
}

