.nav-search .ant-select-selection--single {
  height: 42px !important;
}

.nav-search .ant-select-selection__rendered {
  line-height: 40px !important;
}

.nav-search .ant-cascader-input.ant-input {
  height: 42px !important;
}

.nav-search .ant-cascader-picker {
  height: 42px !important;
}

.nav-search button.ant-btn {
  height: 43px;
  margin-left: -1px;
  text-transform: uppercase;
  padding: 11px 58px;
  background: linear-gradient(#ff8695, #ff1d3a);
  border-radius: 0px 3px 3px 0px;
  border: 0px;
  color: #fff;
}
