.listview-right {
  width: 565px;
  float: left;
}

.listview-right ul {
  margin: 0;
  border-bottom: 1px solid #dfdfdf;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.listview-right ul.tab li {
  display: inline-block;
  margin: 0px 14px;
  padding-bottom: 10px;
}

.listview-right ul.tab li:first-child {
  margin-left: 0px;
}

.listview-right ul.tab li:last-child {
  margin-right: 0px;
}

.listview-right ul.tab li.active,
.listview-right ul.tab li:hover {
  margin-bottom: -1px;
  border-bottom: 1px solid #3a65f9;
}

.listview-right ul.tab li.active a,
.listview-right ul.tab li:hover a {
  color: #3a65f9;
}

.listview-right .description a.more {
  color: #3a65f9;
}

.listview-right .description a.more:hover {
  color: #454545;
}

.listview-right .description p span,
.property-label {
  width: 127px;
  display: inline-block;
  color: #888888;
}

.listview-right .property-label {
  float: left;
}

.listview-right .property,
.gridview .property {
  width: 415px;
  /*float: left;*/
  padding: 0px;
  background-color: transparent;
}

.listview-right .property span {
  margin: 0 0 18px 0;
  width: 115px;
  display: inline-block;
}

.listview-right .location,
.gridview .location {
  margin-top: 25px;
  border-top: 1px solid #dfdfdf;
}

.listview-right .location h3 {
  position: relative;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.listview-right .address {
  position: absolute;
  right: 0px;
  font-size: 14px;
  font-weight: 300;
}
