<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="home">
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>LandExp.com.vn</h2>
                <p>Hotline office: 0909333333</p>
                <p>Email: office@landexp.com.vn</p>
                <p>Phone: 0220 383 9999</p>
                <p>Địa chỉ: Số 02, ngách 158/51 Nguyễn Khánh Toàn,<br> P.Quan Hoa, Q.Cầu Giấy, TP.Hà Nội</p>
                <img src="images/dathongbao.png" alt="LandExp">
            </div>
            <div class="col-md-2">
                <h2>Về chúng tôi</h2>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Giải pháp</a></li>
                    <li><a href="#">Đội ngũ nhân sự</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2>Hỗ trợ</h2>
                <ul>
                    <li><a href="#">Dành cho người bán</a></li>
                    <li><a href="#">Dành cho người mua</a></li>
                    <li><a href="#">Chính sách hợp tác</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Tải ứng dụng</h2>
                <p>Tải ứng dụng Bất động sản của LandExp để mua bán cho thuê nhanh chóng nhất.</p>
                <p class="link-app">
                    <a href="#"><img src="images/icon/IOS.png" alt=""></a>
                    <a href="#"><img src="images/icon/ANDROID.png" alt=""></a>
                </p>
                <div class="social-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copyright">
            <p>Copyright © 2018 LandExp. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
