<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body class="home">
<div th:fragment="searchmenu">
    <div class="nav-search">
        <div class="container">
            <form action="">
                <div class="row">
                    <div class="select-box">
                        <div class="select dropdown">
                            <span id="type" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hình thức</span>
                            <input type="hidden" id="slType" name="slType" />
                            <ul class="dropdown-menu js-type" aria-labelledby="type">
                                <li class="options active" data-value="mua">Mua</li>
                                <li class="options" data-value="thue">Thuê</li>
                            </ul>
                        </div>
                    </div>
                    <div class="select-box">
                        <div class="select dropdown">
                            <span id="category" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loại bất động sản</span>
                            <input type="hidden" id="slCategory" name="slCategory" />
                            <ul class="dropdown-menu js-category" aria-labelledby="category">
                                <li class="options" data-value="can-ho-chung-cu">Căn hộ chung cư</li>
                                <li class="options" data-value="penthouse">Penthouse</li>
                                <li class="options" data-value="nha-rieng">Nhà riêng</li>
                                <li class="options" data-value="biet-thu-lien-ke">Biệt thự, liền kề</li>
                                <li class="options" data-value="nha-mat-pho">Nhà mặt phố</li>
                                <li class="options" data-value="dat-o">Đất ở</li>
                                <li class="options" data-value="dat-nen-du-an">Đất nền dự án</li>
                                <li class="options" data-value="kho-nha-xuong">Kho, nhà xưởng</li>
                                <li class="options" data-value="cua-hang-ki-ot">Cửa hàng, ki-ốt</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                   -->
                    <div class="select-box">
                        <input type="text" name="txLocation" placeholder="Nhập địa điểm, thành phố hoặc dự án">
                    </div>
                    <!--
                   -->
                    <div class="select-box">
                        <div class="select dropdown">
                            <span id="price" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khoảng giá</span>
                            <input type="hidden" id="slPrice" name="slPrice" />
                            <ul class="dropdown-menu js-price" aria-labelledby="price">
                                <div class="header-box">
                                    <table class="header-options options">
                                        <tr class="advance-options">
                                            <td class="advance-options">
                                                <input type="text" id="txtPriceMinValue" name="pricemin" placeholder="Từ" class="min-value options" maxlength="6" numbersonly="true" decimal="true" value="" />
                                                <div id="lblPriceMin"></div>
                                            </td>
                                            <td class="advance-options"><span class="advance-options"></span></td>
                                            <td class="advance-options">
                                                <input type="text" id="txtPriceMaxValue" name="pricemax" placeholder="Đến" class="max-value options" maxlength="6" numbersonly="true" decimal="true" value="" />
                                                <div id="lblPriceMax"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <li class="options" data-value="">Bất kỳ</li>
                                <li class="options" data-value="">< 500 triệu</li>
                                <li class="options" data-value="">500 triệu - 1 tỷ</li>
                                <li class="options" data-value="">1 - 1.5 tỷ</li>
                                <li class="options" data-value="">1.5 - 2 tỷ</li>
                                <li class="options" data-value="">2 - 3 tỷ</li>
                                <li class="options" data-value="">3 - 5 tỷ</li>
                                <li class="options" data-value="">> 5 tỷ</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                   -->
                    <div class="select-box">
                        <div class="select dropdown">
                            <span id="square" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diện tích</span>
                            <input type="hidden" id="slSqrare" name="slSqrare" />
                            <ul class="dropdown-menu js-square" aria-labelledby="square">
                                <div class="header-box">
                                    <table class="header-options options">
                                        <tr class="advance-options">
                                            <td class="advance-options">
                                                <input type="text" id="txtSquareMinValue" name="pricemin" placeholder="Từ" class="min-value options" maxlength="6" numbersonly="true" decimal="true" value="" />
                                                <div id="lblSquareMin"></div>
                                            </td>
                                            <td class="advance-options"><span class="advance-options"></span></td>
                                            <td class="advance-options">
                                                <input type="text" id="txtSquareMaxValue" name="pricemax" placeholder="Đến" class="max-value options" maxlength="6" numbersonly="true" decimal="true" value="" />
                                                <div id="lblSquareMax"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <li class="options" data-value="">Bất kỳ</li>
                                <li class="options" data-value="">< 50 m2</li>
                                <li class="options" data-value="">50 - 80 m2</li>
                                <li class="options" data-value="">80 - 100 m2</li>
                                <li class="options" data-value="">100 - 200 m2</li>
                                <li class="options" data-value="">> 200 m2</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                   -->
                    <div class="select-box">
                        <div class="select dropdown mega-dropdown">
                            <span id="filter-more" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lọc thêm</span>
                            <ul class="dropdown-menu has-sub" aria-labelledby="filter-more">
                                <li class="options dropdown-submenu">
                                    <input type="hidden" id="slBathroom" name="slBathroom" />
                                    <div id="bathroom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Số phòng tắm<span>Bất kỳ</span></div>
                                    <ul class="dropdown-menu js-bathroom" aria-labelledby="bathroom">
                                        <li data-value="">Bất kỳ</li>
                                        <li data-value="1">+1</li>
                                        <li data-value="2">+2</li>
                                        <li data-value="3">+3</li>
                                        <li data-value="4">+4</li>
                                        <li data-value="5">+5</li>
                                    </ul>
                                </li>
                                <li class="options dropdown-submenu">
                                    <input type="hidden" id="slBedroom" name="slBedroom" />
                                    <div id="bedroom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Số phòng ngủ<span>Bất kỳ</span></div>
                                    <ul class="dropdown-menu js-bedroom" aria-labelledby="bedroom">
                                        <li data-value="">Bất kỳ</li>
                                        <li data-value="1">+1</li>
                                        <li data-value="2">+2</li>
                                        <li data-value="3">+3</li>
                                        <li data-value="4">+4</li>
                                        <li data-value="5">+5</li>
                                    </ul>
                                </li>
                                <li class="options dropdown-submenu">
                                    <input type="hidden" id="slGara" name="slGara" />
                                    <div id="gara" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chỗ để ô tô<span>Bất kỳ</span></div>
                                    <ul class="dropdown-menu js-gara" aria-labelledby="gara">
                                        <li data-value="">Bất kỳ</li>
                                        <li data-value="1">Có</li>
                                        <li data-value="0">Không</li>
                                    </ul>
                                </li>
                                <li class="options dropdown-submenu">
                                    <input type="hidden" id="slDirection" name="slDirection" />
                                    <div id="direction" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hướng<span>Bất kỳ</span></div>
                                    <ul class="dropdown-menu js-direction" aria-labelledby="direction">
                                        <li data-value="">Bất kỳ</li>
                                        <li data-value="1">Đông</li>
                                        <li data-value="2">Tây</li>
                                        <li data-value="3">Nam</li>
                                        <li data-value="4">Bắc</li>
                                        <li data-value="5">Đông Bắc</li>
                                        <li data-value="6">Đông Nam</li>
                                        <li data-value="7">Tây Bắc</li>
                                        <li data-value="8">Tây Nam</li>
                                    </ul>
                                </li>
                                <li class="options dropdown-submenu">
                                    <input type="hidden" id="slPostdate" name="slPostdate" />
                                    <div id="postdate" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ngày đăng<span>Bất kỳ</span></div>
                                    <ul class="dropdown-menu js-postdate" aria-labelledby="postdate">
                                        <li data-value="">Bất kỳ</li>
                                        <li data-value="1">Cách đây 1 ngày</li>
                                        <li data-value="3">Cách đây 3 ngày</li>
                                        <li data-value="7">Cách đây 7 ngày</li>
                                        <li data-value="15">Cách đây 15 ngày</li>
                                        <li data-value="30">Cách đây 30 ngày</li>
                                    </ul>
                                </li>
                                <li class="dropdown-button">
                                    <div class="btn-row">
                                        <div>
                                            <button type="button" id="clear-menu" class="btn btn-sub btn-default">Xóa</button>
                                        </div>
                                        <div>
                                            <button type="button" id="close-menu" class="btn btn-sub btn-primary">Hoàn tất</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--
                   -->
                    <div class="select-box">
                        <button type="submit">Tim kiếm</button>
                    </div>
                    <!--
              -->
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>
