.article h1 {
  color: #1e1e1e;
  font-weight: bold;
}

.article .summary {
  color: #404040;
  font-weight: bold;
}

.article .content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article .right-menu .article-item {
  display: inline-block;
  border: 1px solid #e8e8e8;
}

.article .right-menu .article-thumbnail {
  width: 260px;
  height: 216px;
}

.article .right-menu .article-thumbnail img {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 260px !important;
  height: 216px;
}

.article .right-menu .article-info {
  float: left;
}

.article .right-menu .article-info h3 {
  padding: 10px;
  font-size: 16px;
  color: #222;
  overflow: hidden;
}

.article .right-menu .article-info .location {
  padding-top: 10px;
  padding-left: 13px;
  border-top: 1px solid #dfdfdf;
  max-height: 50px;
  overflow: hidden;
}

.article .ant-avatar-lg {
  width: 70px !important;
  height: 70px !important;
}

.list-news {
  padding-right: 30px;
  margin-right: 30px;
}

.list-news .item-container:first-child {
  padding-top: 0px;
}

.list-news .item-container:last-child {
  border-bottom: none;
}
