header.article {
  position: relative;
  min-height: 240px;
}
header.article:before {
  content: '';
  display: block;
  background: url('../../../static/images/article_header_bg.png') no-repeat bottom center;
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.header-title {
  text-align: center;
  font-size: 48px;
  margin-top: 30px;
}

.logo img {
  width: 124px;
}

.breadcrumb.article {
  background-color: #f6f6f6;
  height: 43px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 11px 0;
}

.breadcrumb .icon {
  width: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
}

.icon.home {
  content: url('../../../static/images/icon/ic_home.svg');
}

.icon.menu {
  content: url('../../../static/images/icon/ic_menu.svg');
}

.ant-breadcrumb {
  position: relative;
  padding-left: 25px;
}

.ant-breadcrumb a {
  color: #707070;
}

.ant-breadcrumb-link {
  color: #3a65f9;
}

.sidebar img.item-thumb {
  width: 74px;
  height: 74px;
  border-radius: 0px;
}

.ant-list,
.ant-breadcrumb,
.ant-avatar {
  font-family: 'Helvetica Neue', sans-serif !important;
}

.item-container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #dfdfdf;
}

.list-article {
  padding-right: 30px;
  margin-right: 30px;
}

.list-article .item-container:first-child {
  padding-top: 0px;
}

.list-article .item-container:last-child {
  border-bottom: none;
}

.article-image {
  position: relative;
}

a.overlay:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(rgb(255, 255, 255, 0%), #222);
  opacity: 0.8;
}

.article-image img {
  width: 100%;
  height: auto;
}

.article-image .cat-title {
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.article-image .cat-title:hover {
  text-decoration: none;
  color: red;
}

.article-item {
  margin-left: 30px;
}

.article-item h3 {
  margin-top: 0px;
  font-size: 20px;
}

.article-item h3 a {
  color: #454545;
}

.article-item h3 a:hover {
  text-decoration: none;
}

.article-item .post-date {
  margin: 0;
  display: contents;
  color: #aaaaaa;
  font-size: 14px;
}

.article-item .sort-content {
  margin-top: 15px;
}

.article-item .sort-content p {
  margin: 0px;
}

.article-item .sort-content strong {
  font-weight: 300;
}

.article-detail {
  margin-right: 50px;
}

p.category {
  color: #4a8dff;
  font-size: 14px;
  padding-left: 15px;
  border-left: 2px solid #fe475e;
}

.img-feature {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto;
}

.article-detail .title {
  font-size: 20px;
  margin-top: 0px;
}

.article-detail span.date {
  color: #aaaaaa;
  font-size: 14px;
  float: right;
}

.sidebar {
  margin-bottom: 37px;
}

.sidebar h3.title {
  font-size: 30px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 0px;
  padding-bottom: 5px;
}

.sidebar .ant-list-item-meta-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

footer {
  min-width: auto;
}

@media (max-width: 768px) {
  header.article {
    margin-bottom: 30px;
  }
  .logo {
    float: none;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .header-title {
    font-size: 33px;
  }
  .breadcrumb {
    display: none;
  }
  .list-article {
    padding-right: 0;
    margin-right: 0;
  }
  .article-item {
    margin-left: 0px;
  }
  .article-item h3 {
    margin-top: 10px;
  }
  .article-item .sort-content {
    margin-top: 20px;
  }
  .article-detail {
    margin-right: 0;
  }
}
