<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LandExp</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
<header>
    <div class="container">
        <div th:replace="fragments/menu :: menu"></div>
        <div th:replace="fragments/searchbox :: searchbox"></div>
    </div>
</header>

<div id="home-content">
    <div class="container">
        <div class="row featured-posts">
            <h2>Tin mới<span>Thứ 5, ngày 31 tháng 05 năm 2018</span></h2>
            <ul>
                <li>
                    <img src="/images/white-living-room.png" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <p><a href="#" class="post-title">Bí quyết để có một ngôi nhà đẹp</a></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim …
                            </p>
                            <p class="border-left-red cat-title"><a href="">GÓC THIẾT KẾ</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/nha-mau-can-ho-him-lam-phu-an7-1.png" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <p><a href="#" class="post-title">Phương pháp đầu tư hiệu quả</a></p>
                            <p class="cat-title border-left-cyan"><a href="">KINH TẾ ĐẦU TƯ</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img
                        src="/images/simple-wall-paint-ideas-with-a-sienna-color-decorated-excellent-white-for-livingroom-decor-spot-lights-also-down-light-plus-concealed_interior-design-.png"
                        alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <p><a href="#" class="post-title">Tính tương đối trong giá cả</a></p>
                            <p class="cat-title border-left-cyan"><a href="">KINH TẾ ĐẦU TƯ</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/Homey-Apartment-by-Fertility-Design-3.png" alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <p><a href="#" class="post-title">Hợp tác để thành công</a></p>
                            <p class="cat-title border-left-green"><a href="">KINH NGHIỆM & CUỘC SỐNG</a></p>
                        </div>
                    </div>
                </li>
                <li>
                    <img
                        src="/images/ideas-for-pendant-lights-in-the-dining-room-20-eye-catcher-in-the-living-area-0-1870580370.png"
                        alt="">
                    <div class="caption">
                        <div class="caption-content">
                            <p><a href="#" class="post-title">Đâu là hướng đi cho nhà đầu tư thông minh</a></p>
                            <p class="cat-title border-left-green"><a href="">KINH NGHIỆM & CUỘC SỐNG</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row lastest-posts">
            <h2>
                Tin mới đăng<span>Hiển thị 1 - 20 trong 100 Bất động sản</span>
                <div class="toolbox">
                    <label for="sortby">Sắp xếp:</label>
                    <select name="sortby" id="sortby">
                        <option value="">Ngày đăng mới nhất</option>
                        <option value="">Giá từ thấp đến cao</option>
                        <option value="">Giá từ cao đến thấp</option>
                    </select>
                    <ul role="tablist">
                        <li role="presentation" class="listview-button active"><a href="#list" aria-controls="list"
                                                                                  role="tab" data-toggle="tab"></a></li>
                        <li role="presentation" class="gridview-button"><a href="#grid" aria-controls="grid" role="tab"
                                                                           data-toggle="tab" aria-selected="true"></a>
                        </li>
                    </ul>
                </div>
            </h2>
            <div class="row">
                <div class="gridview" th:each="house : ${houses}">
                    <div class="col-md-3 post-item">
                        <div class="item-thumbnail">
                            <a th:with="baseUrl=('/bat-dong-san/' + ${house.id} + '/' + ${house.link})" th:href="@{${baseUrl}}">
                                <img src="/upload/products/item-1.png" alt="">
                            </a>
                            <div class="type" th:classappend="${house.actionType == 'CHO THUÊ'} ? chothue : ban">[[${house.actionType}]]</div>
                            <a href="#" class="like-button">
                                <i class="fa fa-heart-o"></i>
                        </div>
                        <div class="item-info">
                            <a href="#"><h3 class="title">[[${house.landType}]]</h3></a>
                            <p class="subtitle">Dự án Vinhome D’Capital</p>
                            <p class="price" th:utext="${house.money}"></p>
                            <div class="post-date">Ngày đăng <span>[[${house.updateAt}]]</span></div>
                            <div class="property">
                                <span class="compact"><span>[[${house.acreage}]]</span>m2</span>
                                <span class="bedroom">[[${house.bedRoom}]]</span>
                                <span class="bathroom">[[${house.bathRoom}]]</span>
                                <span class="gara" th:utext="${house.parking}"></span>
                            </div>
                            <p class="location">[[${house.address}]]</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="see-more">
            <a href="#">XEM THÊM</a>
        </div>

        <div class="row why-us">
            <h2>Tại sao chọn chúng tôi</h2>
            <div class="col-md-4">
                <img src="/images/banner/1.png" alt="">
                <p class="text-center">Trải nghiệm cách đăng tin hoàn toàn mới</p>
            </div>
            <div class="col-md-4">
                <img src="/images/banner/2.png" alt="">
                <p class="text-center">Thay đổi cách bạn Mua, Bán Thuê, Cho thuê<br>Bất động sản</p>
            </div>
            <div class="col-md-4">
                <img src="/images/banner/3.png" alt="">
                <p class="text-center">Giá trị trong từng tin đăng</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"> </footer>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script>
        $(function() {
            $('.related-carousel').jcarousel();

            $('.related .tool-box .prev').click(function() {
                $('.related-carousel').jcarousel('scroll', '-=1');
            });

            $('.related .tool-box .next').click(function() {
                $('.related-carousel').jcarousel('scroll', '+=1');
            });
        });
    
</script>
</body>
</html>
