.search {
  margin-top: 70px;
}

.search h2 {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 36px;
  color: #111;
  text-align: center;
}

.search .select-box {
  width: 200px;
  padding-top: 23px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search .select-box label {
  font-size: 16px;
  font-weight: 300;
}

/* Customize the label (the container) */
.search .radio-container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search .radio-container:first-child {
  margin-right: 30px;
}

/* Hide the browser's default radio button */
.search .radio-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.search .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.search .radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.search .radio-container input:checked ~ .checkmark:after {
  background-color: #454545;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.search .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.search .radio-container input:checked ~ .checkmark:after {
  display: block;
}

.search .radio-container input:checked ~ .checkmark {
  border: 1px solid #454545;
}

/* Style the indicator (dot/circle) */
.search .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}

/* Search box */

.search-box {
  width: 846px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search h1 {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 36px;
  color: #111;
  text-align: center;
}

.top-search-box {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(#4a8dff, #63c9ff);
  box-shadow: 0px 3px 6px 0px #00000014;
  padding: 21px 46px;
}

.top-search-box .select {
  position: relative;
  display: block;
  margin: 0 9px;
  width: 175px;
  height: 50px;
  float: left;
}

.top-search-box .select:after {
  content: url('../../../../static/images/icon/arrow-down.png');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 13px 10px;
  background: #f5f5f5;
  pointer-events: none;
  border-radius: 0 3px 3px 0px;
}
/* Transition */
.top-search-box .select:hover:after {
  background-color: #ccc;
}

.top-search-box .keyword input {
  float: right;
  width: 530px;
  height: 50px;
  border: none;
  border-radius: 3px;
  padding: 0px 16px;
  font-size: 16px;
}

/* Bottom search box */
.bottom-search-box {
  padding: 16px 37px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px #00000014;
  height: 118px;
}

.bottom-search-box label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}

.bottom-search-box .select {
  position: relative;
  display: block;
  margin: 0 9px;
  width: 175px;
  height: 50px;
  float: left;
}

.bottom-search-box .select:after {
  content: url('../../../../static/images/icon/arrow-down.png');
  position: absolute;
  top: 33px;
  right: 1px;
  bottom: -31px;
  padding: 15px 10px;
  background: #f5f5f5;
  pointer-events: none;
  border-radius: 0 3px 3px 0px;
}
/* Transition */
.bottom-search-box .select:hover:after {
  background-color: #ccc;
}

.bottom-search-box .select .dropdown span,
.top-search-box .select .dropdown span {
  display: block;
  line-height: 48px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0px 15px;
  font-size: 16px;
  background: #ffffff;
}

.bottom-search-box .select .header-box span {
  border: none;
  padding: 5px;
}

.search-box button {
  display: block;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ff1d3a;
  background: linear-gradient(#ff8695, #ff1d3a);
  margin: 24px auto;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.download {
  display: block;
  width: 200px;
  margin: 4px auto;
  text-align: center;
  color: #888;
}

.download .app-icon {
  font-size: 30px;
}

.download .app-icon a {
  color: #454545;
  text-decoration: none;
}

.download .app-icon span:first-child:after {
  content: '|';
  padding: 0px 29px;
}

.download .app-icon span:last-child {
  margin-left: -8px;
}

.clearfix {
  clear: both;
}
