ul.left-menu a {
  color: #454545;
  text-decoration: none;
}

ul.left-menu a:hover {
  color: #4a8dff;
}

ul.right-menu .item {
  color: #454545;
  text-decoration: none;
}

ul.right-menu .item:hover {
  color: #4a8dff;
}

ul.right-menu .button {
  display: block;
  padding: 6px 46px;
  margin-left: 18px;
  border: 1px solid #fda705;
  border-radius: 25px;
  background: linear-gradient(#ffca19, #ffba00);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}
